.post {
  background: var(--grey-800);
  border-radius: 8px;
  padding: 2.5rem;
}

/* styles every post that are followed by a post */
.post + .post {
  margin-top: 2rem;
}

.post > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post > header time {
  font-size: 0.875rem;
  color: var(--green-400);
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.author img {
  width: calc(3rem + 12px);
  height: calc(3rem + 12px);
  border-radius: 8px;
  border: 4px solid var(--grey-800);
  outline: 2px solid var(--green-500);
}

.authorInfo {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}

.authorInfo strong {
  color: var(--grey-100);
}
.authorInfo span {
  font-size: 0.875rem;
  color: var(--grey-400);
}

.content {
  line-height: 1.6;
  color: var(--grey-300);
  margin-top: 1.5rem;
}

.content p {
  margin-top: 1rem;
}

.content a {
  font-weight: bold;
  color: var(--green-500);
  text-decoration: none;
}
.content a:hover {
  color: var(--green-300);
}

.hashtag a + a {
  padding-left: 0.5rem;
}

.commentArea {
  width: 100%;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--grey-600);
}

.commentArea > strong {
  line-height: 1.6;
  color: var(--grey-100);
}

.commentArea textarea {
  width: 100%;
  background: var(--grey-900);
  border: 0;
  resize: none;
  height: 6rem;
  padding: 1rem;
  border-radius: 8px;
  color: var(--grey-100);
  line-height: 1.4;
  margin-top: 1rem;
}

.commentArea footer {
  visibility: hidden;
  max-height: 0;
}

/* focus-within: applies a styles whenever we have a focus inside that element */
.commentArea:focus-within footer {
  visibility: visible;
  max-height: none;
}

.commentArea button[type="submit"] {
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 8px;
  border: 0;
  background: var(--green-500);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.1s;
}

.commentArea button[type="submit"]:hover {
  background: var(--green-300);
}
