:root {
  --white: #fff;

  --grey-100: #e1e1e6;
  --grey-300: #c4c4cc;
  --grey-400: #8d8d99;
  --grey-600: #323238;
  --grey-700: #29292e;
  --grey-800: #202024;
  --grey-900: #121214;

  --green-300: #00b37e;
  --green-500: #00875f;

  --red-500: #f75a68;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--green-500);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--grey-900);
  color: var(--grey-300);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
